---
http_interactions:
- request:
    method: get
    uri: https://api.unminable.com/v4/account/<%= account %>/workers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Reset:
      - '1646286683'
      Etag:
      - '"1b314-IP0RsAoA3Cg3MkXoZvzXJGlICPw"'
    body:
      encoding: UTF-8
      string: '{"success":true,"msg":"Ok","data":{"ethash":{"workers":[{"online":true,"name":"rig1","last":1646286520000,"rhr":"229","chr":"242","referral":"3792-egij"},{"online":true,"name":"szu01","last":1646286517000,"rhr":"101","chr":"58","referral":"3792-egij"},{"online":true,"name":"vol1","last":1646286441000,"rhr":"98","chr":"116","referral":"3792-egij"},{"online":true,"name":"aerocool","last":1646286547000,"rhr":"52","chr":"68","referral":"3792-egij"},{"online":true,"name":"sg1c","last":1646285993000,"rhr":"48","chr":"53","referral":"3792-egij"},{"online":true,"name":"sg1f","last":1646286385000,"rhr":"25","chr":"39","referral":"3792-egij"},{"online":true,"name":"sg1e","last":1646286030000,"rhr":"47","chr":"53","referral":"3792-egij"},{"online":false,"name":"sg1b","last":1646285106000,"rhr":"12","chr":"5","referral":"3792-egij"}],"chart":{"reported":{"data":["604.5","604.09","604.09","604.09","604.02","604.02","604.02","604.02","604.45","604.45","604.45","604.53","604.53","604.53","604.23","604.23","604.23","604.38","604.38","604.38","604.38","604.09","604.09","604.09","604.09","604.21","604.21","604.21","603.85","603.85","603.85","603.85","603.49","603.49","603.49","604.01","604.01","604.01","603.78","603.78","603.78","603.78","603.71","603.71","603.71","603.92","603.92","603.92","603.92","603.8","603.8","603.8","603.64","603.64","603.64",[...]
